---
layout: default
---
{% for post in paginator.posts %}
  {% include post_card.html post=post %}
{% endfor %}

<div class="flex justify-center pb-8">
  <div class="flex-auto max-w-lg">
    <div class="flex text-center">
      {% if paginator.next_page %}
        <div class="flex-1">
          <a href="{{ paginator.next_page_path }}"
             class="bg-white text-{{ site.color }}-dark p-2 rounded shadow-md no-underline uppercase font-bold">Newer TILs</a>
        </div>
      {% endif %}

      {% if paginator.previous_page %}
        <div class="flex-1">
          <a href="{{ paginator.previous_page_path }}"
             class="bg-white text-{{ site.color }}-dark p-2 rounded shadow-md no-underline uppercase font-bold">
            Older TILs
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
