<div class="my-8 tracking-wide uppercase">
  <div class="font-bold flex justify-center" style="font-size: 7vw">
    <a href="/" class="font-black text-{{ site.color }}-darker no-underline">Today I Learned</a>
  </div>
  <div class="flex justify-center font-bold">
    <div class="px-4 py-2 m-2">
      <a href="https://marcano.io" class="no-underline text-red hover:text-red-light" target="_blank">
        A Marcano Project
      </a>
    </div>
    <div class="px-4 py-2 m-2">
      <a href="https://twitter.com/pbmarcano" class="no-underline text-blue hover:text-blue-light" target="_blank">Follow on twitter</a>
    </div>
  </div>
</div>
