<div class="flex justify-center">
  <div class="flex-auto max-w-lg rounded overflow-hidden sm:shadow-lg bg-white mb-8">
    <div class="px-8 py-8">
      <a href="{{ include.post.url }}" class="font-bold text-teal-darkest no-underline text-2xl mb-2">
        {{ include.post.title }}
      </a>
      <div class="text-grey-darkest leading-normal text-base mt-2">
        {{ include.post.content }}
      </div>
    </div>

    <div class="flex font-bold uppercase">
      {% for category in include.post.categories %}
        <div class="flex-1 text-red-light no-underline border-t-2 border-red text-center px-8 py-2 m-1 hover:bg-red-lightest">
          #{{ category }}
        </div>
      {% endfor %}

      <a href="https://github.com/pbmarcano/til/issues/new/?title={{ include.post.title | prepend: "Post comment/question -- " | url_encode }}&body={{ "Feel free to ask me anything about this post, or educate me if you have a better way :)" | url_encode }}" target="_blank" class="flex-1 text-blue-light no-underline border-t-2 border-blue text-center px-8 py-2 m-1 hover:bg-blue-lightest">
        Discuss
      </a>
    </div>
  </div>
</div>
