<div class="flex justify-center">
  <div class="max-w-lg rounded overflow-hidden sm:shadow-lg bg-white mb-8">
    <div class="px-8 py-8">
      <a href="{{ include.post.url }}" class="font-bold text-teal-darkest no-underline text-2xl mb-2">
        {{ include.post.title }}
      </a>
      <div class="text-grey-darkest text-base mt-2">
        {{ include.post.content }}
      </div>
    </div>

    <div class="flex font-bold uppercase">
      {% for category in include.post.categories %}
        <div class="flex-1 text-red-light no-underline border-t-2 border-red text-center px-8 py-2 m-1 hover:bg-red-lightest">
          #{{ category }}
        </div>
      {% endfor %}

      <div class="flex-1 text-blue-light border-t-2 border-blue text-center px-8 py-2 m-1 hover:bg-blue-lightest">
        Coming soon
      </div>
    </div>
  </div>
</div>
